.productImg{
  width: 200px;
  height: 150px;
  padding-bottom: 20px;
}
.pricing{
  color:#b12704 ;
  margin-bottom: 30px;
}
.productDisplay{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   gap: 40px;
   margin-top: 20px;
   margin-bottom: 20px;
}
.products{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 15px;
  width: 250px;
  height: 400px;
  text-align: center;
}
.cartBtn{
  background: #198754;
  color: white;
}
li p:hover,ul{
  cursor: pointer;
}
